@model AvansFysio.Models.Behandelplan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Behandelplan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BehandelPlanNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BehandelPlanNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoeveel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoeveel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
