
@model AvansFysio.Models.Behandelplan

@{
    ViewData["Title"] = "Details";
}


<div class="section-profile">
    <div class="profile-container">
    <img src="~/img/fysiologo.png" style="width:100px" />
    <h4>@Model.Patient.Naam, @Model.Patient.Leeftijd</h4>
    <p>@Model.Patient.MedewerkerOfStudent</p>
    <button style="margin-bottom:30px">Change profile picture</button>
    <br />

    <button onclick="myFunction()" id="Opmerkingen-btn" class="btn btn-success"> Opmerkingen</button>
    <button onclick="myFunction()" id="Omschrijving-btn" class="btn btn-success">Omschrijving</button>
    <button onclick="myFunction()" id="Omschrijving-btn" class="btn btn-success">Behandelingen</button>


    </div>

    <div class="profile-container profile-container-behandelplan">
        <h4>Behandelplan: @Model.BehandelPlanNaam</h4>
        <p>Hoeveel behandelingen per week: @Model.Hoeveel</p>
        <p>Sessie duur: @Model.Duur</p>



    </div>
   </div>

<div class="profile-details-container " id="Omschrijving">
    <div class="profile-details-header">
        <h4 style="display:inline-block">Omschrijving</h4>
        <a asp-action="Edit" asp-route-id="@Model.Patient.Id">
            <button class="btn btn-success" style="display:inline-block">
                Edit

            </button>
        </a>

 </div>

    <div class="profile-details-container-text">
        <p>Omschrijving klachten globaal </p><span>@Model.Patient.Omschrijving</span>
        <hr />
    </div>
    <div class="profile-details-container-text">
        <p>Diagnose code</p><span>@Model.Patient.DiagnoseCode</span>
        <hr />
    </div>
    <div class="profile-details-container-text">
        <p>Omschrijving diagnose code</p><span></span>
        <hr />
    </div>
    <div class="profile-details-container-text">
        <p>Intake gedaan door</p><span>@Model.Patient.IntakeGedaanDoor</span>
        <hr />
    </div>
    <div class="profile-details-container-text">
        <p>Intake onder supervisie van</p>
        @if (!(@Model.Patient.onderSupervisieVan.Length > 1))
        {
            <span>/</span>
        }
        else
        {
            <span>@Model.Patient.onderSupervisieVan</span>
        }
        <hr />
    </div>
    <div class="profile-details-container-text">
        <p>Hoofdbehandelaar</p><span>@Model.Patient.HoofdBehandelaar</span>
        <hr />
    </div>
    <div class="profile-details-container-text">
        <p>Datum aanmelding</p><span>@Model.Patient.DatumAanmelding</span>
        <hr />
    </div>
    <div class="profile-details-container-text">
        <p>Datum ontslag</p><span>@Model.Patient.DatumOntslag</span>
        <hr />
    </div>
    <div class="profile-details-container-text">
        <p>Hoofdbehandelaar</p><span>@Model.Patient.Opmerkingen</span>

    </div>
</div>
<div class="profile-details-container " id="Opmerkingen" style="display:none">
    <div class="profile-details-header">
        <h4 style="display:inline-block">Opmerkingen</h4>
        <a asp-action="Edit" asp-route-id="@Model.Patient.Id">
            <button class="btn btn-success" style="display:inline-block">
                Edit

            </button>
    
        </a>|
    </div>
</div>

<a asp-action="Edit" asp-route-id="@Model.Patient.Id">Edit</a> |
<a asp-action="Behandelplan" asp-route-id="@Model.Patient.Id">Behandelplan</a> |

<a asp-action="Index">Back to List</a>
<script>

    function click() {
        console.log("hello")
    }
</script>

