@model AvansFysio.Models.Opmerkingen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Opmerkingen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opmerking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opmerking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpmerkingenGemaaktDoor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpmerkingenGemaaktDoor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZichtbaarVoorPatiënt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZichtbaarVoorPatiënt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Behandeling)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
